* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
overflow-x: hidden;
}
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

body {
background-color:#f6f5f4;

}

header,
nav li,
h1, h2, h3, h4, h5, h6,
.menu-hamburguer span {
    font-family: 'Barlow Semi Condensed', sans-serif;

}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    
    /* Degradê escuro com transparência */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.448), rgba(0, 0, 0, 0.108));
    
    /* Efeito de blur no fundo */
    backdrop-filter: blur(6px);
    
    /* Sombra e borda sutis */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    
    color: #151515; /* Texto claro para contraste */
    padding: 0 1px;
}

header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
}

footer {
    background-color: #1e1e1fe3;
    color: #ccc;
    font-size: 0.85rem;
    text-align: center;
    padding: 1px 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

footer > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}


nav {
    background-color: #000000af;
    padding: 5px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline-block;
    margin-right: 24px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}
nav li :visited {
    text-decoration: none; /* Altere para a cor desejada */
}

nav li a {
    color: #EFEDE8
    text-decoration: none;
    position: relative;
    padding-bottom: 4px;
    transition: color 0.3s ease, padding-bottom 0.3s ease;
}

nav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #EFEDE8;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: bottom right;
}

nav li a:hover {
    color: #ddd;
    padding-bottom: 8px;
    color clicada

}

nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
a:visited {
    color: #c1c1c122; /* Altere para a cor desejada */
    text-decoration: none;
}


.menu-hamburguer {
    width: 32px;
    cursor: pointer;
    
}

.menu-hamburguer span {;
    height: 3px;
    width: 100%;
    background-color: #181818;
    display: block;
    margin-bottom: 4px;


}


.container-flex {
    display: flex;
}

#sobre-a-loja {
    padding: 20px;
}

#sobre-a-loja img{
    max-width: 400px;
    margin-right: 24px;
}

#sobre-a-loja .container-flex {
    
    align-items: center;
    text-align:justify;
}

#sobre-a-loja img {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-right: 24px;
}

#sobre-a-loja .descricao {
    flex: 1;
    
}

  /* Quando a tela for menor que 768px, reorganiza a disposição */
@media (max-width: 768px) {
    #sobre-a-loja .container-flex {
    flex-direction: column;
    align-items: center;
    text-align:justify;
    }
    
    #sobre-a-loja img {
    margin-right: 0;
    margin-bottom: 20px;
    }
    
    #sobre-a-loja .descricao {
    width: 100%;
    }
}

  /* Ajuste opcional de tamanho de fonte conforme a tela diminui */
@media (max-width: 1024px) {
    #sobre-a-loja h2,
    #sobre-a-loja p {
    font-size: 0.95em;
    }
}

@media (max-width: 480px) {
    #sobre-a-loja h2,
    #sobre-a-loja p {
    font-size: 0.9em;
    }

    .contato {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        width: 100%; /* Ocupam toda a largura disponível */
        max-width: auto; /* Sem limite de largura */
    }
}

@media (max-width: 768px) {

    .contato {
      flex-direction: column; /* Coloca os elementos em coluna */
      align-items: stretch;   /* Faz com que os itens ocupem toda a largura disponível */
        text-align: center;     /* Centraliza o texto */
        align-items: center;    /* Centraliza os elementos */
        justify-content: space-between; /* Espaço entre form e mapa */
    }

    .formulario {
        margin: 0 auto;  /* Centraliza horizontalmente */
        flex-direction: column;
        align-items: center; /* Opcional: para alinhar os elementos do formulário ao centro */
    }
    .contato .mapa {
        width: 100%; /* Ocupa toda a largura disponível */
        max-width: 99%; /* Sem limite de largura */
    }
    .lista-produtos li {
        display: flex;
        flex-direction: column;

    }
    
    .lista-produtos li button {
        margin-top: auto;
    }

    .lista-produtos li .price {
        display: flex;
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: flex-start;
        align-content: center;    
    }

.price {
    margin: 0px;
    gap: 0px
}
}

section {
    padding: 18px 0;

}
section h2 {
    margin-bottom: 16px;
}

.lista-produtos {
    flex-wrap: wrap;
    gap: 5%
}

.lista-produtos li {
    list-style: none;
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-produtos li img {
    max-width: 100%;
}

.lista-produtos li h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: 2px solid #21222348;
    background-color:	#f4f3f1;
    color: #212223;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #212223;
    color: #fff;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button:active {
    transform: translateY(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.lista-produtos strong, .price strong {
    font-weight: bold;      
    color: #000;            
    display: inline;         
}


.lista-produtos strong {
    margin-top: 14px;      
    margin-bottom: 14px;    
    display: block;        
}

.price {
    margin: 6px 0;
    display: flex;          
    align-items: center;   
    gap: 8px;        
}

.price del {
    color: #ccc;
    font-size: 14px;
    display: inline;        
}

.form-campo{
    margin-bottom: 16px;
}
.form-campo label{
    font-weight: bold;
    display: block;
}
.form-campo input,
.form-campo textarea{
    width: 100%;
    display: block;
    padding: 8px;
    background-color: #f6f5f4;
    border: 2px solid #ccccccb0;
    border-radius: 4px;
}
.form-campo textarea{
    resize: none;
    height: 120px;
}
form{
    max-width: 400px;
}

footer li {
    list-style: none;
    margin: 0 16px;
}

footer li img {
    height: 25px;
    display: block; 
}

footer a {
    color: #e7e7e7; /* Cor do link (azul chamativo, pode ajustar) */
    text-decoration: none; /* Remove sublinhado */
    font-weight: bold; /* Deixa o link mais destacado */
    transition: color 0.3s ease; /* Efeito suave na mudança de cor */
}

footer a:hover {
    color: #ffffff; /* Altera cor ao passar o mouse */
}


.contato {
    align-items: flex-start; /* Alinha no topo */
    justify-content: space-between; /* Espaço entre form e mapa */

}

.formulario {
    width: 50%;
    max-width: 400px;
}

.mapa {
    width: 45%; /* Ajuste conforme necessário */
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border-radius: 8px; 
}
.mapa p {
    margin-top: 5px; /* Espaço acima do texto */
    font-size: 14px; /* Tamanho menor do texto */
    color: #2a2a2a; /* Cor cinza */
    padding-left: 2px;
}

.error {
    color: #989898; 
    font-size: 14px; 
    margin-top: 5px; 
}
.zoom-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
}

.zoom-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.zoom-container:hover img {
    transform: scale(1.3); 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
